@model PagedList.StaticPagedList<yynet.model.TB_LOGIN_LOG>
@using PagedList
@using PagedList.Mvc

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout_for_admin.cshtml";
}

<section class="content-header">
    <h1>
        登录日志列表
        <small></small>
    </h1>
    <ol class="breadcrumb">
        <li><a href="Index"><i class="fa fa-dashboard"></i> Home</a></li>
        <li class="active">登录日志列表</li>
    </ol>
</section>
<!-- Main content -->
<section class="content">

    <table class="table table-bordered">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.FirstOrDefault().LOG_ID)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FirstOrDefault().LOG_USER_ID)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FirstOrDefault().LOG_IP)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FirstOrDefault().LOG_TIME)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FirstOrDefault().LOG_RESULT)
            </th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.LOG_ID)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.LOG_USER_ID)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.LOG_IP)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.LOG_TIME)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.LOG_RESULT)
                </td>             
            </tr>
        }
        <tr>
            <td colspan="5">
                @Html.PagedListPager((IPagedList)Model, page => Url.Action("Index", new { page = page }))
            </td>
        </tr>

    </table>
</section>